VITE_VAULT_ID=tnt12345678
VITE_ENVIRONMENT=sandbox
VITE_COLLECT_VERSION=2.25.1
VGS_AUTH_URL=https://auth.verygoodsecurity.com/auth/realms/vgs/protocol/openid-connect/token
VGS_CLIENT_ID=
VGS_CLIENT_SECRET=
