html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
#root {
  margin: 0 auto;
}
.container {
  display: flex;
  flex-basis: 1;
}
.left {
  width: 50%;
  margin: 0 10%;
}
.right {
  width: 50%;
  margin: 0 10%;
}
hr {
  margin: 0;
  padding: 0;
}

.menu {
  padding: 20px;
}
.menu a {
  display: inline-block;
  padding: 4px 8px;
}
.menu a:hover {
  text-decoration: none;
}
.vgs-collect-iframe-wr,
.vgs-collect-native-input {
  display: block;
  height: 42px;
  border: solid 1px;
  border-radius: 4px;
  margin: 6px 0;
  width: 100%;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}
.vgs-collect-iframe-wr iframe {
  width: 100%;
  height: 100%;
}
.vgs-collect-native-input {
  padding: 0.5rem 1rem;
}
.vgs-collect-native-input::placeholder {
  color: #686868;
}
.vgs-collect-native-input:focus,
.vgs-collect-container__focused {
  outline: none;
  border-color: blue;
}
.custom-class {
  height: 100%;
}
